# Operating System files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
